hostname = api.next.bspapp.com

#趣听音乐
;hostname = api.next.bspapp.com
^https?:\/\/api\.next\.bspapp\.com\/client url script-response-body https://raw.githubusercontent.com/liushiqun/QuantumultX/main/Script/趣听音乐.js